/* main.css */
body {
    background-color: black;
    color: #00ff00;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6; /* Ajusta la altura de línea */
    text-align: match-parent;
    animation: blinkCursor 0.8s infinite;
}


/* texto  */
h1, h2, h3 {
    font-family: 'Press Start 2P', cursive; 
    color: #00c41a; /* Azul brillante, ajusta según tus preferencias */
}

p {
    font-size: 12px;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 120 auto;
    padding: 50px;
}


#terminal-text {
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;  /* Adjust the font size as needed */
}

h3 {
    font-size: 20px;  /* Adjust the font size as needed */
}

@keyframes blinkCursor {
    0%, 100% {
        border-right: 3px solid transparent;
    }
    50% {
        border-right: 3px solid #00ff00;
    }
}
