{% extends 'layout.html' %}
{% block content %}

{% for post_new in posts %}

<div class="p-3"><div class="card-card-bod">
    <div class="row">
        <div class="col-3">
            <img src="{{post_new.image.url}}" alt="{{post_new.title}}" class="img-fluid">
        </div>

        <div class="col-9">
            <h2>{{post_new.title}}</h2>
            <p>{{post_new.description|striptags|truncatechars:100 }}</p>
            <p>{{post_new.date| date:'M d Y'|upper}}</p> <!--formato mes,dia,anio -->
        </div>

    </div>

    <a href="{% url 'blog-posts:post_detail' post_id=post_new.id %}" class="btn btn-primary">{{ post_new.title }}</a>

</div></div>

{% endfor %}
{% endblock content %}