{% extends 'layout.html' %}

{% block content %}

{% load static %}


<!-- Porfolio Section -->
<div class="row my-4 text-center">

    <h1>Lastest projects what did stay working</h1>
    <h3>texto generalizado para los projectos </h3>
    
    {% for project in projects %}
    
    <div class="col-md-4 mb-4"> 
      <div class="card bg card-project">
        <img src="{{project.image.url }}" class="card-img-top img-fluid" style="height: 220px; object-fit: cover;">
        <!-- Establecemos un tamaño fijo para la imagen (height) y controlamos cómo se ajusta en el contenedor (object-fit) -->
  
        <div class="card-body">
          <h2>{{ project.title }}</h2>
          <p>{{ project.description }}</p>
  
          {% if project.url %}
          <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Visit the
            Project</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}  