{% load static %}

<nav class="navbar navbar-expand-lg sticky-top">
  

  <!-- MorroSpace seccion -->

  <li class="nav-item">
    <a class="navbar-brand FW-bold fst-italic"  href="{% url 'Morrospace' %}">U ARE IN MORROS SPACE ; Start here</a><span class="sr-only"></span></a>
  </li>

    <!-- Navbar botones  -->

  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto">
     

        <!-- item navbar 1 -->

    <li class="nav-item mr-2">
      <a class="nav-link" href="{% url 'Projects' %}">Projects <span class="sr-only"></span></a>
    </li>

        <!-- item navbar 2 -->

        <a class="nav-link" href="{% url 'blog-posts:posts' %}">Blog</a>
      </li>

          <!-- item navbar 3 -->


      <li class="nav-item">
        <li class="nav-item active mr-2">
          <a class="nav-link" href="https://www.github.com/morroshub" target="_blank">Github Profile</a>
        

           <!-- item navbar 4 -->

          <li class="nav-item mr-2">
        <a class="nav-link" href="{% static 'porfolio/LucasMorrone-Dev-python-data.pdf' %}" target="_blank">Certifications PDF</a>
      </li>
    </ul>
  </div>
</nav>



