/* main.css */
body {
    background-color: black;
    color: #00ff00;
    font-family: 'Roboto', monospace;
    text-align: match-parent;
    animation: blinkCursor 0.8s infinite;
}

.container {
    max-width: 800px;
    margin: 80 auto;
    padding: 50px;
}


#terminal-text {
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;  /* Adjust the font size as needed */
}

h3 {
    font-size: 20px;  /* Adjust the font size as needed */
}

@keyframes blinkCursor {
    0%, 100% {
        border-right: 3px solid transparent;
    }
    50% {
        border-right: 3px solid #00ff00;
    }
}
